
/*Efek yang diberikan pada body secara keseluruhan*/
body
{
background-color:none;
}
/*Efek pada class table*/
table
{
background-color:none;
border-color:none;
}
/*Efek pada class menu, dimana setiap ditemukan tag a pada class menu akan didapati efek tersebut*/
.menu a
{
display:block;
float:left;
text-decoration:none;
width:150px;
height:24px;
color:silver;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-weight: bold;
font-size:18px;
text-align:center;

background-color:maroon;
}
/*Efek pada class menu, dimana setiap ditemukan tag a yang dihover pada class menu akan didapati efek tersebut*/
.menu a:hover
{
background-color:yellow;
color:blue;
}
/*Efek pada class menu, dimana setiap ditemukan tag a yang aktif pada class menu akan didapati efek tersebut*/
.menu a:active
{
background-color:#000000;
color:green;
}
/*Efek pada class sidebar, dimana setiap ditemukan tag li pada class sidebar akan didapati efek tersebut*/
.sidebar li
{
color:silver;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
background-color: none;
}
/*Efek pada class sidebar, dimana setiap ditemukan tag h5 pada class sidebar akan didapati efek tersebut*/
.sidebar h5
{
color:black;
font-weight:bold;
font-size:16px;
}
/*Efek pada class isi, dimana setiap ditemukan tag h4 pada class isi akan didapati efek tersebut*/
.isi h4
{
font: 1em ‘Lucida Grande’, Verdana, Arial, Sans-Serif;
text-align:center;
font-weight:bold;
}
.isi h3
{
font: 1em ‘Lucida Grande’, Verdana, Arial, Sans-Serif;
text-align:center;
font-weight:bold;
color: maroon;
}
/*Efek pada class isi*/
.isi
{
padding: 3px;
text-align:justify;
}
/*Efek pada class footer, dimana setiap ditemukan tag a pada class footer akan didapati efek tersebut*/
.footer a
{
text-decoration:none;
}
.list li
{
font: 1em ‘Lucida Grande’, Verdana, Arial, Sans-Serif;
font-weight:bold;
background-color:black;
color: silver;
}



